/* Page */
html, body, .navbar, .main, .footer {
  height: 100%;
}
html {
  font-family: 'Roboto', sans-serif;
  background: #1db954;
}
body {
  margin: 0px;
}
.viewport {
  display: grid;
  grid-template-rows: 65px auto;
}
a {
  color: #000;
  text-decoration: none;
}
/* Navbar */
.navbar {
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about, .home {
  padding: 15px;
  font-size: 20px;
}
.separator {
  font-size: 28px;
}
/* Main */
.main {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}
.logo {
  font-weight: 700;
  font-size: 50px;
  margin: 40px;
  background: #FFF;
  padding: 15px 35px;
  border-radius: 60px;
}
.instructions-container {
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 60%;
  padding: 35px;
  border-radius: 3px;
}
h3 {
  margin-top: 0px;
}
p {
  margin-bottom: 0px;
}
.bottom-container {
  background: #191314;
  color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  border-radius: 3px;
  margin-top: 40px;
  width: 300px;
}
.searchbox {
  background: #FFF;
  color: #191314;
  padding: 5px 13px;
  border-radius: 4px;
  width: 100%;
  border: none;
  height: 30px;
  box-sizing: border-box;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login a {
  color: rgba(255, 255, 255, 0.9);
}
.spotify-logo {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.or {
  text-align: center;
  margin: 20px;
}
/* Footer */
.footer {
  background: #FFF;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 35px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
/* Cloud */
.cloud {
  position: relative;
  width: 100%;
  height: calc(100vh - 65px - 35px);
}
.cloud-img {
  position: absolute;
  height: 100px;
  width: 100px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.cloud-img:hover {
  transform: scale(1.5);
  z-index: 10;
}
.img-1 {
  top: 12%;
  left: 13%;
  height: 130px;
  width: 130px;
}
.img-2 {
  top: 30%;
  left: 25%;
  height: 70px;
  width: 70px;
}
.img-3 {
  top: 41%;
  left: 29%;
  height: 170px;
  width: 170px;
}
.img-4 {
  top: 70%;
  left: 77%;
  height: 100px;
  width: 100px;
}
.img-5 {
  top: 14%;
  left: 75%;
  height: 120px;
  width: 120px;
}
.img-6 {
  top: 51%;
  left: 72%;
  height: 70px;
  width: 70px;
}
.img-7 {
  top: 35%;
  left: 55%;
  height: 200px;
  width: 200px;
}
.img-8 {
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
}
.img-9 {
  top: 13%;
  left: 45%;
  height: 100px;
  width: 100px;
}
.img-10 {
  top: 75%;
  left: 55%;
  height: 100px;
  width: 100px;
}
.img-11 {
  top: 65%;
  left: 35%;
  height: 100px;
  width: 100px;
}