html, body {
  background: #0b0b06;
}
body #oauth {
  color: rgba(255, 255, 255, .75);
}
.footer {
  position: relative;
  margin-top: 0px;
}
#layout-1 img {
  filter: brightness(90%);
  transition: filter 1s ease;
}
#layout-1 img:hover {
  filter: brightness(120%);
}
.container {
  position: absolute;
  width: 50%;
  height: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #147335;
  overflow: scroll;
  overflow: hidden;
}
.container:hover .overlay {
  opacity: 0.9;
}
.text {
  color: white;
  font-size: 120%;
  position: relative;
  padding-left: 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}
.text>.hover-header {
  font-size: 200%;
}
.hover-followers, .hover-popularity {
  font-weight: bold;
  font-size: 130%;
}
}