html, body {
  background: #0b0b06;
}
body #oauth {
  color: rgba(255, 255, 255, .75);
}
.footer {
  position: relative;
  margin-top: 20px;
}
#layout-1 img {
  filter: brightness(90%);
  transition: filter 1s ease;
}
#layout-1 img:hover {
  filter: brightness(120%);
}